<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: xx-large; color: blue;" href="#">Online Class</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        &nbsp;
        &nbsp;
        &nbsp;
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/attendance"  style="font-size: x-large; color: rgb(86, 86, 239);">Attendance List</a>
        </li>
        &nbsp;
        &nbsp;
        &nbsp;
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/file-upload"  style="font-size: x-large; color: rgb(86, 86, 239);">upload File</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body style="background-image: url('assets\images\class.png');"></body>
<router-outlet></router-outlet> -->





<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Include your other head elements (stylesheets, meta tags, etc.) here -->
  <style>
    body {
      background-image: url('assets/images/class.png');
      background-size: cover;
      background-attachment: fixed;
      margin: 100; 
      padding: 100; 
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-size: xx-large; color: blue;" href="#">Online Class</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
            &nbsp;
            &nbsp;
            &nbsp;
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/attendance"  style="font-size: x-large; color: rgb(86, 86, 239);">Attendance List</a>
            </li>
            &nbsp;
            &nbsp;
            &nbsp;
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/file-upload"  style="font-size: x-large; color: rgb(86, 86, 239);">upload File</a>
            </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

  <!-- Include your other body content here -->
</body>
</html>
